<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrong.dataCollector.dao.ttopBankExchangerateHistoryMapper">

    <select id="GetttopBankExchangerateHistory">
        select * from ttop_bank_exchangerate_history;
    </select>

<!--    <insert id="CreatettopBankExchangerateHistory"  >-->
<!--        insert into ttop_bank_exchangerate_history(bankCode, exchangeContent, createDate) values(#{bankCode}, #{exchangeContent}, #{createDate});-->
<!--    </insert>-->

</mapper>